<div id='menu'>
  <% menus_hash = @menus.group_by(&:menu_type) %>
  <% Menu.display_order.each do | menu_type| %>
    <% menus = menus_hash[menu_type] %>
    <% unless menus.nil? || menus.size.zero? %>
      <div>
        <span class=""><b><%= Menu.get_description[menu_type.to_sym][0] %></b></span><span class='has-left footertext'><%= Menu.get_description[menu_type.to_sym][1] %></span>
      </div>
      <table class="table">
        <% menus.each do |menu| %>
          <tr>
		    <% if menu.category == 'veg' %>
              <td><i class="fa fa-circle square larger green"></i></td>
			<% else %>
			  <td><i class="fa fa-circle square larger red"></i></td>
            <% end %>
            
            <td class='larger'><%= menu.name %></td>
            <td class='larger right'><i class="fa fa-rupee"></i>&nbsp;<%= menu.price %></td>
            <td>
			  <i class="right has-left-5 fa fa-minus circle larger red", onclick="Order.subFromcart('<%=menu.id%>');return false;"></i>
			  <i class="right fa fa-plus circle larger green", onclick="Order.addTocart('<%=menu.id%>');return false;"></i>
			  
              <!--
			  <button class='glyphicon glyphicon-minus right js-btn-minus rmvBtn block has-left-5', onclick="Order.subFromcart('<%=menu.id%>');return false;"></button>
              <button class='glyphicon glyphicon-plus js-btn-minus rmvBtn right block', onclick="Order.addTocart('<%=menu.id%>');return false;"> </button>
              -->
			</td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>