<%= render partial: 'chefs/table', locals:{edit: false} %>
<%= form_tag coupons_path, :method => 'get', class: "navbar-form navbar-left" do %>
  <div class="form-group">
    <%= text_field_tag 'coupon_code', nil, placeholder: 'Coupon Code', class: "form-control width-400" %>
  </div>
  <%= submit_tag "Apply", :name => nil , class: "btn btn-success btn-lg form-control" %>
 <% end %> 
 <div class="alert alert-info fad in", id="notice" style="display:none;">
 </div>

 <table class="table has-above">
 <tr>
  <!-- <td> Total</td>
  <td></td>
  <td><%= @cart.total - @discount.to_i%></td>
  </tr> -->
  </table>