<table class="table">
<tr>
	  <th class="larger">Menu</th>
	  <th class="larger">Quantity</th>
	  <th class="larger">Price</th>
    </tr>
  <% @cart.cart_items.each do |cart_item| %>
    <tr>
      <td class="large"><%= cart_item.item.name %></td>
      <td class="large"><%= cart_item.quantity %></td>
      <td class="large"><%= cart_item.quantity * cart_item.price %></td>
      <% if show_button %>
        <td>
          <button class='glyphicon glyphicon-minus right js-btn-minus rmvBtn block has-left-5', onclick="Order.subFromcart('<%=cart_item.item.id%>');return false;"></button>
          <button class='glyphicon glyphicon-plus js-btn-minus rmvBtn right block', onclick="Order.addTocart('<%=cart_item.item.id%>');return false;"> </button>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
  <td class="large">Sub Total</td>
  <td class="large"></td>
  <td class="large"><%= @cart.subtotal %></td>
  </tr>
  <% if @discount.to_i > 0 %>
    <tr>
    <td class="large">Discount</td>
    <td class="large"></td>
    <td class="large"><%= @discount %></td>
    </tr>
  <% end %>
  <tr>
  <% if @cart.shipping_cost > 0 %>
    <td class="large">Delivery Charge</td>
    <td class="large"></td>
    <td class="large"><%= @cart.shipping_cost %></td>
    </tr>
  <% end %>
  <tr>
  <td class="large">Total</td>
  <td class="large"></td>
  <td class="large"><%= @cart.total- @discount.to_i %></td>
  </tr>
</table>