<div class='col-xs-12'>
  <div class='col-xs-1'>
  </div>
  <div class='col-xs-2'>
    <div class='filter has-above-100'>
      <%= check_box_tag 'veg', "veg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%= label_tag "veg only", nil, class: 'header has-left' %></br>
      <%= check_box_tag 'non-veg', "nonveg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%= label_tag "non veg only", nil, class: 'header has-left' %>
      <div class='list-group'>
        <%= link_to "All", {:controller => "chefs", :action => "index"}, class: 'header list-group-item special active', :onclick => 'Filter.applyType("all", "#all");return false;', id: 'all' %>
        <%= link_to "Paratha", {:controller => "chefs", :action => "index", :menu_type => "paratha"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("paratha", "#paratha");return false;', id: 'paratha' %>
        <%= link_to "Rice", {:controller => "chefs", :action => "index", :menu_type => "rice"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("rice", "#rice");return false;', id: 'rice'%>
        <%= link_to "Gravy", {:controller => "chefs", :action => "index", :menu_type => "gravy"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("gravy", "#gravy");return false;', id: 'gravy' %>
        <%= link_to "Drink", {:controller => "chefs", :action => "index", :menu_type => "drink"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("drink", "#drink");return false;', id: 'drink' %>
      </div>
    </div>
  </div>
  <div class='col-xs-6 has-above-100'>
    <%= render partial: 'menu' %>
  </div>
  <div class='col-xs-3'>
    <div class='summary has-above-100'>
    <div class='header'><b>Your order</b></div>
      <div id="cart">
        <%= render partial: 'table' %>
      </div>
    </div>
    <div class="checkout">
      <% if current_user %>
        <%= link_to 'Checkout', {:controller => "orders", :action => "new", :location_id => "location"}, class: 'btn btn-md btn-warning header right'%>
      <% else %>
      <button class='btn btn-md btn-warning header right' onclick="Order.signinAlert();return false;">Checkout</button>
        <%#= link_to "Checkout", '#', :onclick => "Order.signinAlert();return false;", class: 'btn btn-md btn-success header right'%>
      <% end %>
    </div>
  </div>
</div>