<body class="one-page full-screen">
   <%= javascript_include_tag "application" %>
   <%= render partial: 'layouts/header.html.erb' %>

<div class='container' style="min-height:540px;">
   <% @close = false %>
<% unless @close %> 
<div class="row">
  <!--div class='span1 zero-mobile-size'>
  </div-->
  
  <div class='span2 thirty-five-mobile-width pull-left'>
    <div class='filter has-above-50'>
      <%#= check_box_tag 'veg', "veg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%#= label_tag "veg only", nil, class: 'header has-left' %><!--/br-->
      <%#= check_box_tag 'non-veg', "nonveg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%#= label_tag "non veg only", nil, class: 'header has-left' %>
      <label class="header has-left" for="veg_only">
      <input checked="checked" id="veg" name="veg" onchange="Filter.applyCheckbox();return false;" type="checkbox" value="veg" />
      Veg only</label>
      <label class="header has-left" for="non_veg_only">
      <input checked="checked" id="non-veg" name="non-veg" onchange="Filter.applyCheckbox();return false;" type="checkbox" value="nonveg" />
      Non veg only</label>

      <div class="list-group" >
        
        <div style="padding-left:5px;padding-bottom:13px;">
          <%= link_to "All", {:controller => "chefs", :action => "index"}, class: 'header list-group-item ', :onclick => 'Filter.applyType("all", "#all");return false;', id: 'all' %>
        </div>
        <div style="padding-left:5px;padding-bottom:13px;">
        <%= link_to "Paratha", {:controller => "chefs", :action => "index", :menu_type => "paratha"}, class: 'header list-group-item ', :onclick => 'Filter.applyType("paratha", "#paratha");return false;', id: 'paratha' %>
        </div>
        <div style="padding-left:5px;padding-bottom:13px;">
        <%= link_to "Rice", {:controller => "chefs", :action => "index", :menu_type => "rice"}, class: 'header list-group-item ', :onclick => 'Filter.applyType("rice", "#rice");return false;', id: 'rice'%>
        </div>
        <%#= link_to "Gravy", {:controller => "chefs", :action => "index", :menu_type => "gravy"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("gravy", "#gravy");return false;', id: 'gravy' %>
        <div style="padding-left:5px;padding-bottom:13px;">
        <%= link_to "Drink", {:controller => "chefs", :action => "index", :menu_type => "drink"},  class: 'header list-group-item ', :onclick => 'Filter.applyType("drink", "#drink");return false;', id: 'drink' %>
        </div>
        
      </div>
    </div>
 </div>
 
  <div class='span6 has-above-50'>
    <% if Time.now.in_time_zone('Mumbai') <= (Time.now.in_time_zone('Mumbai').beginning_of_day + 22.hours + 30.minutes) %> 
      <% if (Time.now.in_time_zone('Mumbai') <= ((Time.now.in_time_zone('Mumbai').beginning_of_day) + 18.hours )) %> 
        <div class="order-notice" >
          <marquee behavior="" direction="left" style="color: green">Pre-order for today's dinner</marquee>
        </div>
      <% end %>
      <%= render partial: 'menu' %>
    <% else %>
      <div class="order-notice" >
        <marquee behavior="" direction="left" style="color: green"><b>We are closed for the Day. You can order food tomorrow between 3PM-9PM.</b></marquee>
        <%= render partial: 'menu' %>
      </div>
    <% end %>
  </div>
  <div class='span3 pull-right'>
    <% if Time.now.in_time_zone('Mumbai') <= (Time.now.in_time_zone('Mumbai').beginning_of_day + 22.hours + 30.minutes) %> 
      <div class='summary has-above-50'>
      <div class='notice fade in'>
        *Free delivery over 100 Rs
      </div>
      <div class='header'><b>Your order</b></div>
        <div id="cart">
          <%= render partial: 'table', locals:{show_button: true} %>
        </div>
      </div>
      <div class="checkout ">
      <%= form_tag(new_order_path, :method=>'get', :multipart => true) do %>
        <%= label_tag 'Cooking Instruction' %>
        <%= text_area_tag 'instruction', nil, class: 'form-control', :cols => 10, :rows => 5 %>
        <% if current_user %>
          <%= submit_tag 'Checkout', class: 'btn btn-md btn-success header has-above'%>
        <% else %>
        <!-- <//button class='btn btn-md btn-success header right' onclick="Order.signinAlert();return false;">Checkout</button> -->
          <%#= link_to "Checkout", '#', :onclick => "Order.signinAlert();return false;", class: 'btn btn-md btn-success header right'%>

          <%= submit_tag 'Checkout', :onclick => "Order.signinAlert();return false;", class: 'has-above btn btn-md btn-success header' %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <% end %>
</div>


<%= render partial: 'layouts/footer' %>
</body>