
<body class="one-page full-screen">
    <div id="top"></div>
    <!-- Parallax Fullscreen -->
    <div id="top-slider-1" class="parallax-bg1 parallax">
        <div class="overlay"></div>

        <header id="header-1" class="header header-sticky float-header is-sticky">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            <div id="logo" class="logo">
                                <!-- <a href="index.html" rel="home">
                                    <img src="logo.jpg" alt="ZupaRestaurant" />
                                </a> -->
                                <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand"%>
                            </div><!-- /.logo -->
                        </div>
                        <div class="span10">
                            <div class="btn-menu"></div><!-- //mobile menu button -->
                            <nav id="mainnav" class="mainnav">
                                <ul class="menu">
                                    <li><a class="active" href="#top">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <!-- <li><a href="#menu">Menu</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#reservation">Reservation</a></li> -->
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#testimonials">Testimonials</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <% unless current_user %>
          <li><%= link_to "Sign in | Sign up", new_user_session_path, remote: true%></li>
          <li><%#= link_to "Sign up", new_user_registration_path, id: "sign_up", class: 'signin-signup' %></li>
        <% end %>
        <% if current_user %>
          <li> <%= link_to "#{current_user.name}", home_index_path({id: current_user.id})%></li>
          <li class="has-left"> <%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
        <% end %>
                                 </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.span10 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->

<div class='span12' style="min-height:540px;">
   <% @close = false %>
<% unless @close %> 
  <div class='span1 zero-mobile-size'>
  </div>
  <div class='span2 thirty-five-mobile-width'>
    <div class='filter has-above-50'>
      <%= check_box_tag 'veg', "veg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%= label_tag "veg only", nil, class: 'header has-left' %></br>
      <%= check_box_tag 'non-veg', "nonveg", true, :onchange => 'Filter.applyCheckbox();return false;' %>
      <%= label_tag "non veg only", nil, class: 'header has-left' %>
      <div class='list-group'>
        <%= link_to "All", {:controller => "chefs", :action => "index"}, class: 'header list-group-item special active', :onclick => 'Filter.applyType("all", "#all");return false;', id: 'all' %>
        <%= link_to "Paratha", {:controller => "chefs", :action => "index", :menu_type => "paratha"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("paratha", "#paratha");return false;', id: 'paratha' %>
        <%= link_to "Rice", {:controller => "chefs", :action => "index", :menu_type => "rice"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("rice", "#rice");return false;', id: 'rice'%>
        <%#= link_to "Gravy", {:controller => "chefs", :action => "index", :menu_type => "gravy"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("gravy", "#gravy");return false;', id: 'gravy' %>
        <%= link_to "Drink", {:controller => "chefs", :action => "index", :menu_type => "drink"}, class: 'header list-group-item special', :onclick => 'Filter.applyType("drink", "#drink");return false;', id: 'drink' %>
      </div>
    </div>
  </div>
  <div class='span6 has-above-50'>
    <% if Time.now.in_time_zone('Mumbai') <= (Time.now.in_time_zone('Mumbai').beginning_of_day + 22.hours + 30.minutes) %> 
      <% if (Time.now.in_time_zone('Mumbai') <= ((Time.now.in_time_zone('Mumbai').beginning_of_day) + 18.hours )) %> 
        <div class="order-notice" >
          <marquee behavior="" direction="left" style="color: green">Pre-order for today's dinner</marquee>
        </div>
      <% end %>
      <%= render partial: 'menu' %>
    <% else %>
      <div class="order-notice" >
        <marquee behavior="" direction="left" style="color: green"><b>We are closed for the Day. You can order food tomorrow between 3PM-9PM.</b></marquee>
        <%= render partial: 'menu' %>
      </div>
    <% end %>
  </div>
  <div class='span3'>
    <% if Time.now.in_time_zone('Mumbai') <= (Time.now.in_time_zone('Mumbai').beginning_of_day + 22.hours + 30.minutes) %> 
      <div class='summary has-above-50'>
      <div class='notice fade in'>
        *Free delivery over 100 Rs
      </div>
      <div class='header'><b>Your order</b></div>
        <div id="cart">
          <%= render partial: 'table', locals:{show_button: true} %>
        </div>
      </div>
      <div class="checkout ">
      <%= form_tag(new_order_path, :method=>'get', :multipart => true) do %>
        <%= label_tag 'Cooking Instruction' %>
        <%= text_area_tag 'instruction', nil, class: 'form-control', :cols => 10, :rows => 5 %>
        <% if current_user %>
          <%= submit_tag 'Checkout', class: 'btn btn-md btn-success header has-above'%>
        <% else %>
        <!-- <//button class='btn btn-md btn-success header right' onclick="Order.signinAlert();return false;">Checkout</button> -->
          <%#= link_to "Checkout", '#', :onclick => "Order.signinAlert();return false;", class: 'btn btn-md btn-success header right'%>

          <%= submit_tag 'Checkout', :onclick => "Order.signinAlert();return false;", class: 'has-above btn btn-md btn-success header' %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<footer class="footer simple">
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="span12">
                            <h4 class="thanks">THANK YOU AND WELCOME BACK!</h4>
                            <p class="copyr">All Right Reserved • ZupaRestaurant • 2014</p>
                        </div><!-- /.span12 -->
                    </div><!-- /.content-section -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>

        <div class="bottom">
          <div class="container">
                <div class="row">
                  <div class="span12">
                    <ul class="roll-socials">
                            <li>
                              <a href="#" target="_blank" title="Facebook'"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                  </div><!-- /.span12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.bottom -->
    </div><!-- /.entry-page -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>
  

    <!-- Javascript -->
    <!-- <script type="text/javascript" src="javascript/jquery.min.js"></script>
    // <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    // <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    // <script type="text/javascript" src="javascript/matchMedia.js"></script>
    // <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    // <script type="text/javascript" src="javascript/jquery.bxslider.js"></script>
    // <script type="text/javascript" src="javascript/parallax.js"></script>
    // <script type="text/javascript" src="javascript/imagesloaded.min.js"></script>
    // <script type="text/javascript" src="javascript/jquery.isotope.min.js"></script>
    // <script type="text/javascript" src="javascript/jquery.sticky.js"></script>
    // <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    // <script type="text/javascript" src="javascript/owl.carousel.min.js"></script>
    // <script type="text/javascript" src="javascript/jquery.countdown.js"></script>

    // <script type="text/javascript" src="javascript/jquery-ui-datepicker.js"></script> -->

    <script>
    $(function() {
    $( "#datepicker" ).datepicker();
    });
    </script>

     <!-- <script type="text/javascript" src="javascript/jquery.transit.js"></script>
    // <script type="text/javascript" src="javascript/jquery.fittext.js"></script>
    // <script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>
    // <script type="text/javascript" src="javascript/jflickrfeed.min.js"></script>
    // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    // <script type="text/javascript" src="javascript/gmap3.min.js"></script>
    // <script type="text/javascript" src="javascript/main.js"></script> -->

<!-- Button trigger modal -->

<!-- Modal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70789759-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
//<![CDATA[



jQuery("#header-sticky-wrapper").addClass('is-sticky');
jQuery("#header").addClass('is-sticky float-header');
// jQuery('#control-slider').hide();
// jQuery('#contact-slider').hide();
// jQuery("#top-slider").hide()

//]]>
</script>
<%#= render partial: 'layouts/footer' %>
</body>