
<body class="one-page full-screen">
    <div id="top"></div>
    <!-- Parallax Fullscreen -->
    <div id="top-slider" class="parallax-bg1 parallax">
        <div class="overlay"></div>
        <header id="header" class="header header-sticky">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            <div id="logo" class="logo">
                                <!-- <a href="index.html" rel="home">
                                    <img src="logo.jpg" alt="ZupaRestaurant" />
                                </a> -->
                                <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand"%>
                            </div><!-- /.logo -->
                        </div>
                        <div class="span10">
                            <div class="btn-menu"></div><!-- //mobile menu button -->
                            <nav id="mainnav" class="mainnav">
                                <ul class="menu">
                                    <li><a class="active" href="#top">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <!-- <li><a href="#menu">Menu</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#reservation">Reservation</a></li> -->
                                    <!-- <li><a href="#blog">Blog</a></li> -->
                                    <li><a href="#testimonials">Testimonials</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    
                                 </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.span10 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->

        
     <div class="control-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                        <div class="content-slider">
                            <h2 class="FromLeft captionDelay2">Welcome to the <b><span class="color">IndiaKaDabba</span></b></h2>

                            <div class="divider FromLeft captionDelay5"></div>
                            <p class="FromLeft captionDelay8"><b>Amazing</b> and <b>delicious</b> dishes only with us!</p>
                            <%= form_tag chefs_path, :method => 'get', id: 'search_form' do %>
          <!-- <div class="form-group">
            <%= label_tag "Pune", nil, class: "btn btn-primary btn-lg form-control"%>
          </div> -->
          <div class="form-group">
            <%#= autocomplete_field_tag 'location', '', autocomplete_location_chefs_path, class: "form-control width-400" %>
            <%= select_tag "location", options_for_select(Location.pluck(:name)),  {onchange: "$('#search_form').submit();", :prompt => 'Select Location', class: "form-control menu FromLeft captionDelay8  search"} %>
          </div>
          <% end %>
                        </div>
                    </li>

                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">

                        <div class="content-slider">
                            <h2 class="FromRight captionDelay2">Welcome to the <b>Zupa<span class="color">Restuarant</span></b></h2>
                            <div class="divider FromRight captionDelay5"></div>
                            <p class="FromRight captionDelay8"><b>Amazing</b> and <b>delicious</b> dishes only with us!</p>

                            <%= form_tag chefs_path, :method => 'get', id: 'search_form' do %>
          <!-- <div class="form-group">
            <%= label_tag "Pune", nil, class: "btn btn-primary btn-lg form-control"%>
          </div> -->
          <div class="form-group">
            <%#= autocomplete_field_tag 'location', '', autocomplete_location_chefs_path, class: "form-control width-400" %>
            <%= select_tag "location", options_for_select(Location.pluck(:name)),  {onchange: "$('#search_form').submit();", :prompt => 'Select Location', class: 'menu'} %>
          </div>
          <% end %>

                        </div>
                    </li>
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                        <div class="content-slider">
                            <h2 class="FromTop captionDelay2">Welcome to the <b>Zupa<span class="color">Restuarant</span></b></h2>
                            <div class="divider FromTop captionDelay5"></div>
                            <p class="FromTop captionDelay8"><b>Amazing</b> and <b>delicious</b> dishes only with us!</p>

                            <%= form_tag chefs_path, :method => 'get', id: 'search_form' do %>
          <!-- <div class="form-group">
            <%= label_tag "Pune", nil, class: "btn btn-primary btn-lg form-control"%>
          </div> -->
          <div class="form-group">
            <%#= autocomplete_field_tag 'location', '', autocomplete_location_chefs_path, class: "form-control width-400" %>
            <%= select_tag "location", options_for_select(Location.pluck(:name)),  {onchange: "$('#search_form').submit();", :prompt => 'Select Location'} %>
          </div>
          <% end %>
                        </div>
                    </li>

                </ul>
            <ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol></div>
        </div>
        
        
          <%#= submit_tag "Search", :name => nil , class: "btn btn-primary btn-lg form-control form-control" %>
    
        <div class="contact-slider">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="contact-slider-inner">
                            <span class="serve">Today is served from 9 am to 9 pm</span>

                            <span class="phone">Call us and find out more +919819537603</span>
                            <span class="address">Pune Near Power House, Rasta Peth Swargate-411037</span>
                        </div>
                    </div><!-- /.span12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.contact-slider -->
</div><!-- /.top-slider -->
    <% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
<div id='dialog'>
</div>
    

<div class="entry-page">
        <!-- About -->
        <section id="about" class="roll-row about-section" style="padding-bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="roll-titlebox" data-animation="fadeInLeft" data-animation-delay="0" data-animation-offset="75%">
                            <h3 class="subtitle">About</h3>
                            <h2 class="maintitle">SEE WHO WE ARE AND WHAT WE OFFER!</h2>
                        </div><!-- /.roll-titlebox -->
                    </div><!-- /.span12 -->
                    <div class="span6">

                        <div style="margin-top: 10px; ">
                            <%= link_to image_tag("Veg_Biryani1.jpg"), root_path%>
                        </div>
                    </div><!-- /.span6 -->
                    <div class="span6">
                        <p class="text-justify" style="padding-top:10px;">
                        India Ka Dabba is a restaurant in cloud which offer palatable and affordable multi-cuisine food made by expert chefs. Pre-book your meals to get them delivered at your preferred time slot. Free home delivery exclusively at indiakadabba.com
                        Most of us compromise and end up eating unhealthy and, at times to our own horror unhygienic food. We at India Ka Dabba offer you tasty food made from fresh vegetables and the best spices. Our chefs have impressive culinary skills and experience which reflect in the food being served. Currently, India Ka Dabba is active in areas around College of engineering and Viman Nagar Pune.
                        Setup your own ambiance and leave the food to us.
                        </p>
                    </div>
                        <!--div class="roll-icon-list">


                            <div class="list-item">
                                <div class="icon">
                                    <img src="images/pizza.svg" alt="image">
                                </div>
                                <div class="content">
                                    <h3><a href="#">We cook with passion</a></h3>
                                    <p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui bibendum rhoncus ut a justo. Maecenas sit amet mauris metus. </p>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="icon">
                                    <img src="images/fork.svg" alt="image">
                                </div>
                                <div class="content">
                                    <h3><a href="#">We cook with passion</a></h3>
                                    <p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui bibendum rhoncus ut a justo. Maecenas sit amet mauris metus. </p>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="icon">
                                    <img src="images/calendar.svg" alt="image">
                                </div>
                                <div class="content">
                                    <h3><a href="#">We cook with passion</a></h3>
                                    <p>Nulla id tortor nec lectus feugiat ultricies. Duis sit amet augue vitae dui bibendum rhoncus ut a justo. Maecenas sit amet mauris metus. </p>
                                </div>
                            </div>

                        </div><!-- /.roll-icon-list -->
                    </div><!-- /.span6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

       

      <!--  -->

        <!-- Testimonials -->
        <section id="testimonials" class="roll-row testimonials-section parallax parallax-bg10" style="padding-bottom: 90px">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="span12">
                            <div class="roll-titlebox">
                                <h3 class="subtitle">Testimonials</h3>
                                <h2 class="maintitle text-white">WHAT OUR CUSTOMERS SAY</h2>
                            </div><!-- /.roll-titlebox -->
                        </div><!-- /.span12 -->
                        <div class="span12">
                            <div class="roll-testimonials">
                                <div class="customer">

                                    <div class="name">Gaurav Reddy</div>
                                    <div class="avatar">
                                        <%= link_to image_tag("gaurav.jpg"), root_path%>
                                    </div>
                                    <blockquote class="whisper">Biryani was great taste wise. Delivery was also timely. Exceeded expectations coming from a place which mainly caters to a price sensitive student/bachelor population.
                                    </blockquote>
                                    
                                </div>
                                <div class="customer">
                                    <div class="name">Vibhu Rakesh</div>
                                    <div class="avatar">
                                        <%= link_to image_tag("vibhu.jpg"), root_path%>
                                    </div>
                                    <blockquote class="whisper">Ordered from this place last week via its website. A good place for Bachelors. 
                                    The food was good considering the price and timely delivered.
                                    </blockquote>
                                    

                                </div>
                            </div><!-- /.roll-testimonials -->
                        </div><!-- /.span12 -->
                    </div><!-- /.content-section -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

        <!-- Subscribe -->
        

        <!-- Contact -->
        <section id="contact" class="roll-row roll-contact parallax-bg11">
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="span12">
                            <div class="roll-titlebox">
                                <h3 class="subtitle">Contact</h3>
                                <h2 class="maintitle">CONTACT WITH US</h2>
                            </div><!-- /.roll-titlebox -->
                        </div><!-- /.span12 -->
                        <div class="span4 offset2">

                            <ul class="roll-infomation">
                                <li class="address">
                                    Pune Near Power House,<br> Rasta Peth
                                    Swargate-411037
                                </li>
                                <li class="address">
                                    Navi Mumbai<br>
                                    C-3 Tulsi Prerna<br>
                                    Khanda Colony<br>
                                    New Panvel-410206
                                </li>
                                <li class="phone">+91 9819537603</li>
                                <li class="email">contact@indiakadabba.com
                                </li>

                                <li class="time"><span>Mon - Thur:</span> 8:00 am - 9:00 pm<br><span>Fri - Sat:</span> 10:00 am - 1:00 am<br><span>Sun:</span> 11:00 am - 10:00 pm</li>
                            </ul>
                            <ul class="roll-socials">
                                <li>
                                    <a href="#" target="_blank" title="Facebook'">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Tumblr">
                                        <i class="fa fa-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="google-plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.span6 -->
                        <div class="span4">
                            <form id="contact-form" class="contact-form" method="post" action="./contact/includes/contact-process.php">
                                <div class="note"></div>
                                <div class="input-wrap">
                                    <input type="text" value="" tabindex="1" placeholder="Name *" name="name" id="name1">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" value="" tabindex="3" placeholder="Email *" name="email" id="email1">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" value="" tabindex="4" placeholder="Telephone" name="telephone" id="telephone1">
                                </div>
                                <div class="message-wrap">
                                    <textarea class="" tabindex="5" placeholder="Message *" name="message" id="message1"></textarea>
                                </div>
                                <div class="send-wrap">
                                    <input type="submit" value="SEND MESSAGE" id="submit1" name="submit" class="submit">
                                </div>
                            </form><!-- /.comment-form -->  
                        </div>
                    </div><!-- /.content-section -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

        <div id="map" style="width: 100%; height: 250px">
        </div><!-- /map -->
        <footer class="footer simple">
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="span12">
                            <h4 class="thanks">THANK YOU AND WELCOME BACK!</h4>

                            <p class="copyr">All Right Reserved • IndiaKaDabba • 2016</p>

                        </div><!-- /.span12 -->
                    </div><!-- /.content-section -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>

        <div class="bottom">
          <div class="container">
                <div class="row">
                  <div class="span12">
                    <ul class="roll-socials">
                            <li>
                              <a href="#" target="_blank" title="Facebook'"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                  </div><!-- /.span12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.bottom -->
    </div><!-- /.entry-page -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>
   
    <!-- Javascript -->
    <%= javascript_include_tag("jquery.min.js") %>
    <%= javascript_include_tag("bootstrap.min.js") %>
    <%= javascript_include_tag("jquery.easing.js") %>
    <%= javascript_include_tag("matchMedia.js") %>
    <%= javascript_include_tag("jquery-waypoints.js") %>
    <%= javascript_include_tag("jquery.bxslider.js") %>
    <%= javascript_include_tag("parallax.js") %>
    <%= javascript_include_tag("imagesloaded.min.js") %>
    <%= javascript_include_tag("jquery.isotope.min.js") %>
    <%= javascript_include_tag("jquery.sticky.js") %>
    <%= javascript_include_tag("jquery.flexslider-min.js") %>
    <%= javascript_include_tag("owl.carousel.min.js") %>
    <%= javascript_include_tag("jquery.countdown.js") %>
    <%#= javascript_include_tag("query-ui-datepicker.js") %>

     <!-- <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    // <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.easing.js"></script>
    // <script type="text/javascript" src="javascripts/matchMedia.js"></script>
    // <script type="text/javascript" src="javascripts/jquery-waypoints.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.bxslider.js"></script>
    // <script type="text/javascript" src="javascripts/parallax.js"></script>
    // <script type="text/javascript" src="javascripts/imagesloaded.min.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.isotope.min.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.sticky.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.flexslider-min.js"></script>
    // <script type="text/javascript" src="javascripts/owl.carousel.min.js"></script>
    // <script type="text/javascript" src="javascripts/jquery.countdown.js"></script>

    // <script type="text/javascript" src="javascript/jquery-ui-datepicker.js"></script> -->

     
    


      

<!-- Button trigger modal -->

<!-- Google Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>


<!-- Modal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70789759-1', 'auto');
  ga('send', 'pageview');

</script>
<%#= render partial: 'layouts/footer' %>
</body>