<body class="one-page full-screen">
   <%= javascript_include_tag "application" %>
   <%= render partial: 'layouts/header.html.erb' %>

<div class='container' style="min-height:540px;">
<div class='col-xs-12'>
  <div class='col-xs-3'>
  </div>
  <div class='col-xs-6 has-above-50' style="height:540px;">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions has-above">
        <%= f.submit "Change my password" %>
      </div>
    <% end %>
  </div>
  <div class='col-xs-3'>
  </div>
</div>
<%#= render "devise/shared/links" %>
</div>

<%= render partial: 'layouts/footer' %>
</body>
