<%= stylesheet_link_tag    "application", :media => "all" %>  
<body class="one-page full-screen">
    <div id="top"></div>
    <!-- Parallax Fullscreen -->
    <div id="top-slider-1" class="parallax-bg1 parallax">
        <div class="overlay"></div>

        <header id="header-1" class="header header-sticky float-header is-sticky">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            <div id="logo" class="logo">
                                <!-- <a href="index.html" rel="home">
                                    <img src="logo.jpg" alt="ZupaRestaurant" />
                                </a> -->
                                <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand"%>
                            </div><!-- /.logo -->
                        </div>
                        <div class="span10">
                            <div class="btn-menu"></div><!-- //mobile menu button -->
                            <nav id="mainnav" class="mainnav">
                                <ul class="menu">
                                    <li><a class="active" href="#top">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <!-- <li><a href="#menu">Menu</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#reservation">Reservation</a></li> -->
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#testimonials">Testimonials</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <% unless current_user %>
          <li><%= link_to "Sign in | Sign up", new_user_session_path, remote: true%></li>
          <li><%#= link_to "Sign up", new_user_registration_path, id: "sign_up", class: 'signin-signup' %></li>
        <% end %>
        <% if current_user %>
          <li> <%= link_to "#{current_user.name}", home_index_path({id: current_user.id})%></li>
          <li class="has-left"> <%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
        <% end %>
                                 </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.span10 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-wrap -->
        </header>




<div class='col-xs-12'style="min-height:540px;">
  <div class='col-xs-3 has-above-50'>
    <% unless @user.shipping_address.nil? %>
      <% address = @user.shipping_address %>
      <h3> Last Order Address </h3>
      <ul class='list-group'>
        <li class='list-group-item'>
          <b>Address1: </b><%= address.addrss1 %>
        </li>
        <li class='list-group-item'>
          <b>address2: </b><%= address.address2 %>
        </li>
        <li class='list-group-item'>
          <b> Landmark: </b><%= address.landmark%>
        </li>
        <li class='list-group-item'>
          <b>Phone: </b><%= address.phone %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="col-xs-6 has-above-50">
    <% unless @user.orders.size.zero? %>
      <table class="table">
        <tr>
          <th class="larger">Order</th>
          <th class="larger">Quantity</th>
          <th class="larger">Price</th>
          <th class="larger">Time</th>
          <th class="larger">Status</th>
          <th class='large'>Cooking Instruction</th>
          <!-- <th class="larger">Edit</th>
          <th class="larger">Cancel</th> -->
        </tr>
        <% @user.orders.order('orders.created_at DESC').first(10).each do |order| %>
        <tr>
          <td class="large"><%= order.id %></td>
          <td class="large"><%= order.summery %></td>
          <td class="large"><%= order.price%></td>
          <td class="large"><%= order.time%></td>
          <td class="large"><%= order.status%></td>
          <td class='large'> <%= order.instruction %></td>
         <!--  <td class="large"><%= link_to 'edit', edit_order_path(order) %></td>
          <td class="large"><%= link_to 'Cancel', order_path(order), method: :delete%></td> -->
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="col-xs-3 has-above-50">
    <%= link_to 'Place New Order', root_path, class: 'btn btn-md btn-success header right' %>
    <% unless @user.coupans.size.zero? %>
      <table class="table">
        <tr>
          <th class="larger">Coupan</th>
          <th class="larger">Used</th>
        </tr>
        <% @user.coupans.each do |coupan| %>
          <tr>
            <td class="large"><%= coupan.code %></td>
            <td class="large"><%= coupan.applied %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>