<div class='col-xs-12'>
  <div class='col-xs-3 has-above-50'>
    <% unless @user.shipping_address.nil? %>
      <% address = @user.shipping_address %>
      <h3> Last Order Address </h3>
      <ul class='list-group'>
        <li class='list-group-item'>
          <%= address.addrss1 %>
        </li>
        <li class='list-group-item'>
          <%= address.address2 %>
        </li>
        <li class='list-group-item'>
          <%= address.landmark%>
        </li>
        <li class='list-group-item'>
          <%= address.phone %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="col-xs-6 has-above-50">
    <% unless @user.orders.size.zero? %>
      <table class="table">
        <tr>
          <th class="larger">Order</th>
          <th class="larger">Quantity</th>
          <th class="larger">Price</th>
          <th class="larger">Time</th>
          <th class="larger">Status</th>
          <th class="larger">Edit</th>
          <th class="larger">Cancel</th>
        </tr>
        <% @user.orders.order('orders.created_at DESC').first(10).each do |order| %>
        <tr>
          <td class="large"><%= order.id %></td>
          <td class="large"><%= order.summery %></td>
          <td class="large"><%= order.price%></td>
          <td class="large"><%= order.time%></td>
          <td class="large"><%= order.status%></td>
          <td class="large"><%= link_to 'edit', edit_order_path(order) %></td>
          <td class="large"><%= link_to 'Cancel', order_path(order), method: :delete%></td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Place New Order', root_path, class: 'btn btn-md btn-success header right' %>
    <% unless @user.coupans.size.zero? %>
      <table class="table">
        <tr>
          <th class="larger">Coupan</th>
          <th class="larger">Used</th>
        </tr>
        <% @user.coupans.each do |coupan| %>
          <tr>
            <td class="large"><%= coupan.code %></td>
            <td class="large"><%= coupan.applied %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>