<div class='col-xs-12 header has-above '>
    </div>
    <h3>Delivery Address</h3>
     
    <div id="new_address">
      <!-- <h3> Add New Address </h3> -->
      <%= form_for(@order, :html => {id: "order_form"}) do |f| %>  
        <% if @order.errors.any? %>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <% @order.landmark = Location.find(session[:location_id]).name %>
        <div class="form-group">
          <%= f.label :Time%> 
          <%= f.select(:time, Location.find(session[:location_id]).get_available_slots, {include_blank: false }) %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :location_id, :value => @location_id %>
          <%= f.label :Address1%><br />
          <%= f.text_field :address1, required: true, autofocus: true, class: 'form-control' %>
        </div>  
        <div class="form-group">
          <%= f.label :Address2%><br />
          <%= f.text_field :address2, autofocus: true, required: true, class: 'form-control' %>
        </div>  
        <div class="form-group">
          <%= f.label :Landmark %><br />
          <%= f.text_field :landmark, autofocus: true, required: true, class: 'form-control' %>
        </div> 
         <div class="form-group">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, autofocus: true, required: true, class: 'form-control' %>
        </div>   
        <%= f.hidden_field :summery, :value => @order.generate_summery(@cart) %>
          <%= f.hidden_field :price, :value => @cart.total - @discount.to_i %>
          <%= f.hidden_field :status, :value => 'placed' %>
        <%= f.submit "Place Order", :class => "btn btn-success btn-lg has-above has-below" %>
      <% end %>
    </div>