<!-- <div class='col-xs-12'>
	<div class="footertext has-left">
	  <ul class="list-inline has-above no-bottom">
	    <li class="has-left"><h3><%= link_to "Contact Us", "/contactus", :class => "unlink" %></h3></li>
	    <li class='has-left'><h3><%= link_to "Terms and Conditions", "/termscondition", :class => "unlink"%></h3></li>
	    <li class='has-left'><h3><%= link_to "About Us", "/aboutus", :class => "unlink" %></h3></li>
	  </ul>
	</div>
</div> -->

<div class='col-xs-12' style="background-color: #D6222B;">
  <div class="col-xs-3"></div>
	<div class="col-xs-6">
	  <ul class="list-inline has-above">
	    <li class="has-left"><%= link_to "Contact Us", "/contactus", :class => "unlink large" %></li>
	    <li class='has-left'><%= link_to "Feedback", new_feedback_path, remote: true, :class => "unlink large"%></li>
	    <li class='has-left'><%= link_to "About Us", "/aboutus", :class => "unlink large" %></li>
       <li class='has-left'><%= link_to "Party Orders", new_party_order_path, remote: true, :class => "unlink large" %></li>
	  </ul>
	</div>
  <div class="col-xs-3"> 
    <ul class="list-inline" style="padding: 10px;">
      <li class="pull-right"><%= link_to image_tag("fb.png",:width=>'50px'), "https://www.facebook.com/IndiaKaDabba/?fref=ts", :class => "unlink large" %></li>
    </ul>
  </div>
</div>
  