<!DOCTYPE html>
<html>
<head>
  <title>IndiaKaDabba</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "autocomplete-rails.js" %>
  <meta name="keywords" content="food, pune, shivaji nagar pune, india ka dabba, indiakadabba, order food online, food delivery, biryani, paratha, food services, night food">
  <meta name="description" content="India ka dabba is a restaurant in cloud which offers palatable and affordable multi-cusine food made by expert chef's">
  <%= csrf_meta_tags %>
</head>
<!-- <body> style="overflow: hidden; background: #D6222B"> -->
<body>

<nav class="navbar navbar-default" style="min-height: 100px;  background-color: #F5F2EB; min-height: 90px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.jpg",:width=>'130px')+raw("<div class='logo-text'><a href="tel:+919819537603"></a></div>"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right" style="
    padding-top: 20px;">
        <% unless current_user %>
          <li><%= link_to "Sign in | Sign up", new_user_session_path, remote: true, class: 'signin-signup btn btn-danger' %></li>
          <li><%#= link_to "Sign up", new_user_registration_path, id: "sign_up", class: 'signin-signup' %></li>
        <% end %>
        <% if current_user %>
          <li> <%= link_to "#{current_user.name}", home_index_path({id: current_user.id}), class: "signin-signup btn btn-danger" %></li>
          <li class="has-left"> <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signin-signup btn btn-danger" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Button trigger modal -->
<div id='dialog'>
</div>

<!-- Modal -->
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
<%= yield %>
<%= render partial: 'layouts/footer' %>
</body>
</html>
